In [1]:
import math
import numpy as np
import torch
import pandas as pd
from torch import nn
from d2l import torch as d2l
import os
os.environ ["KMP_DUPLICATE_LIB_OK"] ="TRUE"

In [16]:
# data = {
#     'Name': ['Alice', 'Bob', 'Charlie'],
#     'Age': [25, None, 35],
#     'Salary': [1, 2, 3]
# }

# df = pd.DataFrame(data)

# x = df.dtypes[df.dtypes != 'object'].index

# df[x] =  df[x].fillna(0)
# df[x]
# df[x].fillna(0)
# df


test_list = ['a','b','c']
a = 1 
test_list[0]

    Age  Salary
0  25.0       1
1   0.0       2
2  35.0       3